@media (min-width: 600px) {
    body {
        padding: 0 15%;
    }

    .profile {
        width: 200px;
    }

    .name {
        font-size: 2em;
    }

    .container_box_followers {
        width: 10%;
    }

    .footer {
        margin-bottom: 20px;
    }
}